include LICENSE
include README.md
include requirements.txt
include pyproject.toml

recursive-include assets *.ico *.icns *.png
recursive-include assets/app_icons *.ico *.png
recursive-include config *.json
recursive-include src *.py *.json
